<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="false"/>
    <arg name="description_name" default="robot_description"/>
    <arg name="description_file" default="$(find hephaestus_description)/urdf/hephaestus_description.urdf"/>

    <param name="$(arg description_name)" textfile="$(arg description_file)"/>
    <param name="use_sim_time" value="$(arg use_sim_time)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="use_tf_static" value="true"/>
        <param name="publish_frequency" value="50"/>
        <param name="ignore_timestamp" value="true"/>
        <remap from="robot_description" to="$(arg description_name)"/>
    </node>
</launch>
